<% content_for :secondary_nav do %>
    <li class="active"><a href="/">Timeline</a></li>
<% end %>
<div class="profile">
  <div class="profile-picture">
    <% if current_user.profile == @profile %>
        <%= form_for @profile, url: {action: :show, :controller => 'profiles', :id => @profile}, method: :patch, html: {multipart: true, :id => 'form'} do |form| %>
            <div class="change-avatar-input">
              <label class="text">Change</label>
              <%= form.file_field :avatar, :id => 'avatar-input' %>
            </div>
        <% end %>
    <% end %>

    <% if @profile.avatar %>
        <img id="profile-pic" src="/dm/<%= @profile.avatar.small.url %>" alt="<%= @profile.username %>'s avatar" data-at2x="/dm/<%= @profile.avatar.small_2x.url %>">
    <% end %>
  </div>
  <div class="profile-info">
    <div class="top-info">
      <div class="username">
        <a href="/dm/<%= @profile.username %>">@<%= @profile.username %></a> - <%= link_to "edit", edit_profile_path(@profile) %>
      </div>
    </div>
    <div class="bio">
      <%= @profile.first_name %> <%= @profile.last_name %>
      &middot; <%= @profile.get_credit %>
    </div>
  </div>
</div>
<div class="problem-list">
  <div style="display: table" class="box fill">
    <div>
      <h2>
        Pending Problems:
      </h2>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Level</th>
        </tr>
        </thead>
        <tbody>
        <% @profile.get_pending_problems.each do |problem| %>
            <tr>
              <td><%= link_to problem.title, problem %></td>
              <td><%= problem.level.name %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <h2>
        Unsolved Problems:
      </h2>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Level</th>
        </tr>
        </thead>
        <tbody>

        <% @profile.get_unsolved_problems().each do |problem| %>
            <tr>
              <td><%= link_to problem.title, problem %></td>
              <td><%= problem.level.name %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <h2>
        Solved Problems:
      </h2>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Level</th>
        </tr>
        </thead>
        <tbody>

        <% @profile.get_solved_problems().each do |problem| %>
            <tr>
              <td><%= link_to problem.title, problem %></td>
              <td><%= problem.level.name %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <h2>
        Purchased Problems:
      </h2>
      <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
          <th>Title</th>
          <th>Level</th>
        </tr>
        </thead>
        <tbody>
        <% @profile.problems.each do |problem| %>
            <tr>
              <td><%= link_to problem.title, problem %></td>
              <td><%= problem.level.name %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :extra_js do %>
    <script type="text/javascript" lang="javascript">
        <% if current_user.profile == @profile %>
        document.getElementById("avatar-input").onchange = function () {
            document.getElementById("form").submit();
        };
        <% end %>

        $(document).ready(function () {
            $('#open-following').click(function () {
                $.get('/<%= @profile.username %>/following', function (data) {
                    $('#main-modal-body').html(data);
                });
            });

            $('#open-followers').click(function () {
                $.get('/<%= @profile.username %>/followers', function (data) {
                    $('#main-modal-body').html(data);
                });
            });

            $('.open-regal').click(function () {
                var cpid = $(this).data('cpid');
                $.get('/regals/add_cp/' + cpid, function (data) {
                    $('#main-modal-body').html(data);
                });
            });
        });
    </script>
<% end %>