<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body >
  <p>
Dear
    <strong> <%= profile.first_name %></strong>
  </p>
  <p>
   <strong> <%= bid.profile.username %> </strong>has just made a bid (<%= bid.price %>) on <a href="noid.ir/dm/problems/<%= auction.problem.id %>"> problem <%= auction.problem.id %> </a>.
  </p>
   </body>
</html>
