<div class="col-lg-10 col-lg-offset-1 box">
  <a id="new-bid" class="btn btn-danger" data-toggle="modal" data-target="#main-modal"><i class="fa fa-plus fa-fw"></i>
    New Bid</a>
  <p></p>
  <table class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
      <th>Profile</th>
      <th>Auction</th>
      <th>Price</th>
      <% if current_user.has_role?(:admin) %>
          <th colspan="2"></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @bids.each do |bid| %>
        <tr>
          <td><%=link_to bid.profile.username, bid.profile %></td>
          <td><%=link_to bid.auction.name, bid.auction %></td>
          <td><%= bid.price %></td>
          <% if current_user.has_role?(:admin) %>
              <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
              <td><%= link_to 'Destroy', bid, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          <% end %>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>
<% content_for :extra_js do %>
    <script language="JavaScript">
        $('#new-bid').click(function () {
            $.get('<%= new_bid_path %>', function (data) {
                $('#main-modal-body').html(data);
            });
        });
    </script>
<% end %>