<div class="col-sm-10 col-sm-offset-1">
  <%= form_for(@problem, html: {class: 'form-horizontal'}) do |f| %>
      <% if @problem.errors.any? %>
          <% @problem.errors.full_messages.each do |message| %>
              <div class="alert alert-danger">
                <%= message %>
              </div>
          <% end %>
      <% end %>

      <div class="form-group">
        <%= f.label :title, :class => 'control-label col-sm-3' %>
        <div class="col-sm-9">
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :Description, :class => 'control-label col-sm-3' %>
        <div class="col-sm-9">
          <%= f.text_area :Description, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :level_id, :class => 'control-label col-sm-3' %>
        <div class="col-sm-9">
          <%= f.collection_select :level_id, Level.all, :id, :name, {}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :buy_limit, :class => 'control-label col-sm-3' %>
        <div class="col-sm-9">
          <%= f.number_field :buy_limit, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :chapter, :class => 'control-label col-sm-3' %>
        <div class="col-sm-9">
          <%= f.collection_select :chapter_ids, Chapter.all, :id, :title, {}, {multiple: true, class: 'multi-select form-control'} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :attachment, :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= f.file_field :attachment, :id => 'attachment-input' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <%= f.submit :class => 'btn btn-primary' %>
        </div>
      </div>
  <% end %>
</div>

<% content_for :extra_js do %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('select').chosen({width: '100%'});
        });

    </script>
<% end %>