<div class="col-lg-10 col-lg-offset-1 box">
  <p>
    <strong>Submission:</strong>
    <%= @submission.id %>
  </p>
  <p>
  <strong>Profile:</strong>
  <%= @submission.profile.username %>
</p>

<p>
  <strong>Problem:</strong>
  <%= link_to @problem.title, @problem %>
</p>

<p>
  <strong>Status:</strong>
  <%= @submission.status %>
</p>

<p>
  <strong>Description:</strong>
  <p>
  <%= @submission.description %>
    </p>
  <p>
    <% if @submission.attachment.url %>
        Download the attachment <a href="/dm<%= @submission.attachment.url %>">here</a>
    <% end %>
  </p>
</p>

<td><%= link_to 'Accept', {:controller => 'submissions', :action => 'accept', :id => String(@submission.id), :pid => String(@submission.profile.id)}, :back_to => submissions_path, :method => :put, :class => 'btn btn-primary follow-btn' %></td>
<td><%= link_to 'Reject', {:controller => 'submissions', :action => 'reject', :id => String(@submission.id), :pid => String(@submission.profile.id)}, :back_to => submissions_path, :method => :put, :class => 'btn btn-primary follow-btn' %></td>

<%= link_to 'Back', @submission.problem, :class => 'btn btn-danger' %>
</div>